<h1> The Vault</h1>

<% @posts.each do |p| %>
    <h2><%= link_to p.title, p %></h2>
    <p><%= p.content %></p>
    <p><%= link_to "Edit", edit_post_path(p) %></p>
    <hr />
<% end %>

<p><%= link_to "New Thought", new_post_path %></p>